body{
background-color: rgb(230, 49, 230);

}
.center{
    position: relative;
    top: 50%;
    left: 30%;
    bottom: 50%;
    right: 50%;
    border: 5px solid;
    height: 500px;
    width: 700px;
    background-color: aliceblue;
}
#nam{
   position: absolute;
   left: 30%;
}
#adreas{
    position: absolute;
    left:30%;
    top: 5%;
}
#phone{
    position: absolute;
    left: 30%;
    top: 10%;
}
#select{
    position: absolute;
    left: 30%;
    top:15%;
}
#radio{
    position: absolute;
    left: 30%;
    top: 25%;
}
#check{
    position: absolute;
    left: 30%;
    top: 35%;
}
#Camment{
    position: absolute;
    left: 30%;
    top: 60%;
}
#Button{
    position: absolute;
    left: 40%;
    top: 90%;
}